<!DOCTYPE html>
<html>

<head>
    <title>Insurance Charge Predictor</title>
    <style>
        body {
            font-family: Arial;
            background: #f4f8fc;
            padding: 40px;
            text-align: center;
        }

        h1 {
            color: #004080;
        }

        a {
            margin: 0 15px;
            color: #0055aa;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>Insurance Charges Predictor</h1>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/predict">Predict</a>
    <p>This app predicts medical insurance charges based on your personal details.</p>
</body>

</html>